@model Homework2.Models.CustomerViewModel

<!DOCTYPE html>
<html>

<head>
    <title>Customer Details</title>
    <style>
        body {
            background-color: pink;
        }
    </style>
</head>

<body>
    <h1>@Model.WelcomeMessage</h1>
    <h2> ღ Customer Details ღ</h2>
    <hr />
    <p><strong>➳ Id:</strong>@Model.Customer.Id</p>
    <p><strong>➳ First Name:</strong>@Model.Customer.FirstName</p>
    <p>◕‿◕ your name is nice ◕‿◕</p>
    <p><strong>➳ Last Name:</strong>@Model.Customer.LastName</p>
    <p><strong>➳ Email:</strong>@Model.Customer.Email</p>
    <hr />
    <h1>@Model.GoodbyeMessage</h1>
</body>

</html>